
a { color: #666666; text-decoration: none; }

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link { color: #63cdd7; }

a:visited { color: #666666; } 

a:hover { color: #666666; }

Img {
   margin-left:auto;
   margin-right:auto;
 
 }
 
p.copyright{
           font-family: 'inder';
           font-size: 1 em;
  }

button.btn {   
           color:#666666;   
           font: 1em 'audiowideregular'; 
           background-color:white;   
           border: 3px outset;   
           border-color: #696 #363 #363 #696; 
           filter:progid:DXImageTransform.Microsoft.Gradient   
           (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa'); 
           } 
           


button.btnhov {   color: #99D926;   
           font: 1em 'audiowideregular';   
           background-color:#fed;   
           border: 3px inset;   
           border-color: #696 #363 #363 #696;    
           filter:progid:DXImageTransform.Microsoft.Gradient   
           (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa'); 
           } 

body { 
     
     background-color:#2b2b2b;	
     font-size: 20px;
     }

fieldset
{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    border: 5px inset; 
    background-color:#CCFF00;
}

/* ~~ Element/tag selectors ~~ */



#game{ 
    
    position: relative;
    font-size: 20px;
    width: 54em;
    height: 40em;
    font-family: 'audiowideregular';
    text-align:center;
    margin-right:auto;
    margin-left:auto;

    }

 #backgroundDiv{
    position: absolute;
    background-color:white;
    width: 100%;
    height: 100%;
    z-index: 0;
    
 
 }

 #gameScreen
 {
    position: absolute;
    width: 100%;
    height: 90%;
     text-align:center;
     margin-right:auto;
     margin-left:auto;
     z-index: 1;
 }

#gameCanvas
{
    -webkit-border-radius: 15px;
    border-radius: 15px;

}

#gameCanvas_container
{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    margin-top: 30px;
    z-index: 2;


}
#game .screen
{ 
    font-family: 'audiowideregular';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    }
    
  #game .screen.active
{
    display: block;
}
  


#gameScreen nav
{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;

}

.logo
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.logo h1
{
    margin: 0;
    color: #2b2b2b;

    text-shadow: 0.05em 0.05em 0.05em rgb( 102,179,77 ),
                 -0.05em -0.05em 0.05em rgb( 102,179,77 ),
                 0.05em -0.05em 0.05em rgb( 102,179,77 ),
                 -0.05em 0.05em 0.05em rgb( 102,179,77 ),
                 0.2em 0.2em 0.2em rgb( 0, 0, 0 );

}

.logo h2
{
    margin: 0;
    color: #2b2b2b;

    text-shadow: 
                 0.05em 0.05em 0.05em rgb( 102,179,77 ),
                 -0.05em -0.05em 0.05em rgb( 102,179,77 ),
                 0.05em -0.05em 0.05em rgb( 102,179,77 ),
                 -0.05em 0.05em 0.05em rgb( 102,179,77 ),
                 0.2em 0.2em 0.2em rgb( 0, 0, 0 );

}

.inderText
{
    font-family: 'inder';
 }


.progress
{
    margin: 0 auto;
    width: 25em;
    height: 2em;
    border-radius: 0.5em;
    overflow: hidden;
    border: 0.2em solid #2b2b2b;
}

.progress .indicator
{
    background-color:#CCFF00;    
    height: 100%;
    width: 0%;

}

.board 

{
    position: absolute;
    background-color:white;	
    width: 100%;
    height: 100%;
    z-index: 11;

}

.titleText { 
     	
     font-size: 2em;
     }